In [1]:
import numpy as np
import pandas as pd

In [52]:
pop = pd.read_excel("../데이터/관련자료/구별 인구수.xlsx",header=1,usecols="A:D,R:Y")
pop["65세이상"] = pop.loc[:,"65 - 69세":"100+"].sum(1)

In [53]:
pop.fillna(method="pad",inplace=True)

In [54]:
pop

,행정구역(동읍면)별,항목,항목.1,계,65 - 69세,70 - 74세,75 - 79세,80 - 84세,85 - 89세,90 - 94세,95 - 99세,100+,65세이상
0,전국,소계,총인구수 (명),51841371,2672447,2011644,1634477,1125390,558417,194910,47503,21060,8265848
1,전국,소계,남자인구수 (명),25856030,1286749,939180,697579,420651,166774,44476,10306,5104,3570819
2,전국,소계,여자인구수 (명),25985341,1385698,1072464,936898,704739,391643,150434,37197,15956,4695029
3,서울특별시,소계,총인구수 (명),9724496,511059,395107,299851,183704,85125,32118,9075,6511,1522550
4,서울특별시,소계,남자인구수 (명),4735431,239470,181341,135576,75268,28311,8355,2421,1700,672442
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,제주특별자치도,제주시,남자인구수 (명),245567,10215,7614,5665,3481,1501,307,63,25,28871
797,제주특별자치도,제주시,여자인구수 (명),244167,10818,8747,7486,6142,4051,1647,644,145,39680
798,제주특별자치도,서귀포시,총인구수 (명),181059,9812,8308,7009,5065,2963,866,332,101,34456
799,제주특별자치도,서귀포시,남자인구수 (명),91544,4758,3936,3017,1863,801,139,37,10,14561
800,제주특별자치도,서귀포시,여자인구수 (명),89515,5054,4372,3992,3202,2162,727,295,91,19895

In [55]:
pop = pop[["행정구역(동읍면)별","항목","항목.1","계","65세이상"]]

In [56]:
pop

    행정구역(동읍면)별    항목       항목.1         계    65세이상
0           전국    소계   총인구수 (명)  51841371  8265848
1           전국    소계  남자인구수 (명)  25856030  3570819
2           전국    소계  여자인구수 (명)  25985341  4695029
3        서울특별시    소계   총인구수 (명)   9724496  1522550
4        서울특별시    소계  남자인구수 (명)   4735431   672442
..         ...   ...        ...       ...      ...
796    제주특별자치도   제주시  남자인구수 (명)    245567    28871
797    제주특별자치도   제주시  여자인구수 (명)    244167    39680
798    제주특별자치도  서귀포시   총인구수 (명)    181059    34456
799    제주특별자치도  서귀포시  남자인구수 (명)     91544    14561
800    제주특별자치도  서귀포시  여자인구수 (명)     89515    19895

[801 rows x 5 columns]

In [57]:
pop = pop[pop["항목.1"]=="총인구수 (명)"]

In [58]:
pop

    행정구역(동읍면)별         항목      항목.1         계    65세이상
0           전국         소계  총인구수 (명)  51841371  8265848
3        서울특별시         소계  총인구수 (명)   9724496  1522550
6        서울특별시  서울특별시 종로구  총인구수 (명)    150623    27924
9        서울특별시   서울특별시 중구  총인구수 (명)    126120    23620
12       서울특별시  서울특별시 용산구  총인구수 (명)    229393    39123
..         ...        ...       ...       ...      ...
786       경상남도        거창군  총인구수 (명)     61729    16879
789       경상남도        합천군  총인구수 (명)     44621    17353
792    제주특별자치도         소계  총인구수 (명)    670793   103007
795    제주특별자치도        제주시  총인구수 (명)    489734    68551
798    제주특별자치도       서귀포시  총인구수 (명)    181059    34456

[267 rows x 5 columns]

In [59]:
pop = pop[pop["항목"] != "소계"][["행정구역(동읍면)별","항목","65세이상","계"]]

In [60]:
pop.reset_index(drop=True,inplace=True)

In [61]:
pop["항목(2)"] = ""

In [62]:
pop

    행정구역(동읍면)별         항목  65세이상       계 항목(2)
0        서울특별시  서울특별시 종로구  27924  150623
1        서울특별시   서울특별시 중구  23620  126120
2        서울특별시  서울특별시 용산구  39123  229393
3        서울특별시  서울특별시 성동구  44769  297820
4        서울특별시  서울특별시 광진구  49052  349800
..         ...        ...    ...     ...   ...
244       경상남도        함양군  13022   39353
245       경상남도        거창군  16879   61729
246       경상남도        합천군  17353   44621
247    제주특별자치도        제주시  68551  489734
248    제주특별자치도       서귀포시  34456  181059

[249 rows x 5 columns]

In [63]:
for i in range(len(pop["행정구역(동읍면)별"])):
    if len(pop.loc[i,"항목"]) < 8:
        pop.loc[i,"항목(2)"] = pop.loc[i,"행정구역(동읍면)별"] + " " + pop.loc[i,"항목"]
    else:
        pop.loc[i,"항목(2)"] = pop.loc[i,"항목"]

In [64]:
pop

    행정구역(동읍면)별         항목  65세이상       계         항목(2)
0        서울특별시  서울특별시 종로구  27924  150623     서울특별시 종로구
1        서울특별시   서울특별시 중구  23620  126120      서울특별시 중구
2        서울특별시  서울특별시 용산구  39123  229393     서울특별시 용산구
3        서울특별시  서울특별시 성동구  44769  297820     서울특별시 성동구
4        서울특별시  서울특별시 광진구  49052  349800     서울특별시 광진구
..         ...        ...    ...     ...           ...
244       경상남도        함양군  13022   39353      경상남도 함양군
245       경상남도        거창군  16879   61729      경상남도 거창군
246       경상남도        합천군  17353   44621      경상남도 합천군
247    제주특별자치도        제주시  68551  489734   제주특별자치도 제주시
248    제주특별자치도       서귀포시  34456  181059  제주특별자치도 서귀포시

[249 rows x 5 columns]

In [65]:
tax = pd.read_excel("../데이터/관련자료/1인당부담액.xlsx",usecols="B,C,D,E")
tax

    행정구역별(2)         행정구역별  20인구 (명)  1인당부담액 (천원)
0         총계         전국 총계  51841371      1552.04
1         소계      서울특별시 소계   9724496      1931.15
2        종로구     서울특별시 종로구    150623      4935.76
3         중구      서울특별시 중구    126120     10088.84
4        용산구     서울특별시 용산구    229393      3261.61
..       ...           ...       ...          ...
241      거창군      경상남도 거창군     61729       786.02
242      합천군      경상남도 합천군     44621       681.08
243       소계    제주특별자치도 소계    670793      2250.74
244      제주시   제주특별자치도 제주시    489734      1674.91
245     서귀포시  제주특별자치도 서귀포시    181059      1904.62

[246 rows x 4 columns]

In [66]:
tax = tax[tax["행정구역별(2)"] != "소계"]

In [67]:
tax = tax[tax["행정구역별(2)"] != "총계"]

In [68]:
tax.reset_index(drop=True,inplace=True)
tax

    행정구역별(2)         행정구역별  20인구 (명)  1인당부담액 (천원)
0        종로구     서울특별시 종로구    150623      4935.76
1         중구      서울특별시 중구    126120     10088.84
2        용산구     서울특별시 용산구    229393      3261.61
3        성동구     서울특별시 성동구    297820      1613.09
4        광진구     서울특별시 광진구    349800       997.41
..       ...           ...       ...          ...
223      함양군      경상남도 함양군     39353       942.80
224      거창군      경상남도 거창군     61729       786.02
225      합천군      경상남도 합천군     44621       681.08
226      제주시   제주특별자치도 제주시    489734      1674.91
227     서귀포시  제주특별자치도 서귀포시    181059      1904.62

[228 rows x 4 columns]

In [69]:
pop["1인당부담액 (천원)"] = 0

In [70]:
pop

    행정구역(동읍면)별         항목  65세이상       계         항목(2)  1인당부담액 (천원)
0        서울특별시  서울특별시 종로구  27924  150623     서울특별시 종로구            0
1        서울특별시   서울특별시 중구  23620  126120      서울특별시 중구            0
2        서울특별시  서울특별시 용산구  39123  229393     서울특별시 용산구            0
3        서울특별시  서울특별시 성동구  44769  297820     서울특별시 성동구            0
4        서울특별시  서울특별시 광진구  49052  349800     서울특별시 광진구            0
..         ...        ...    ...     ...           ...          ...
244       경상남도        함양군  13022   39353      경상남도 함양군            0
245       경상남도        거창군  16879   61729      경상남도 거창군            0
246       경상남도        합천군  17353   44621      경상남도 합천군            0
247    제주특별자치도        제주시  68551  489734   제주특별자치도 제주시            0
248    제주특별자치도       서귀포시  34456  181059  제주특별자치도 서귀포시            0

[249 rows x 6 columns]

In [71]:
for i in range(len(tax["행정구역별"])):
    for j in range(len(pop["항목(2)"])):
        if tax.loc[i,"행정구역별"] in pop.loc[j,"항목(2)"]:
            pop.loc[j,"1인당부담액 (천원)"] = tax.loc[i,"1인당부담액 (천원)"]

In [42]:
# pop = pop[["항목","1인당부담액 (천원)","65세이상","계"]]

In [72]:
pop

    행정구역(동읍면)별         항목  65세이상       계         항목(2)  1인당부담액 (천원)
0        서울특별시  서울특별시 종로구  27924  150623     서울특별시 종로구      4935.76
1        서울특별시   서울특별시 중구  23620  126120      서울특별시 중구     10088.84
2        서울특별시  서울특별시 용산구  39123  229393     서울특별시 용산구      3261.61
3        서울특별시  서울특별시 성동구  44769  297820     서울특별시 성동구      1613.09
4        서울특별시  서울특별시 광진구  49052  349800     서울특별시 광진구       997.41
..         ...        ...    ...     ...           ...          ...
244       경상남도        함양군  13022   39353      경상남도 함양군       942.80
245       경상남도        거창군  16879   61729      경상남도 거창군       786.02
246       경상남도        합천군  17353   44621      경상남도 합천군       681.08
247    제주특별자치도        제주시  68551  489734   제주특별자치도 제주시      1674.91
248    제주특별자치도       서귀포시  34456  181059  제주특별자치도 서귀포시      1904.62

[249 rows x 6 columns]

In [73]:
exit = pd.read_excel("../데이터/관련자료/인구소멸 지역.xlsx")
exit

        시자치구      소멸비율  소멸위기지역
0        영월군  0.482551    True
1        강릉시  0.986304   False
2        고성군  0.524914   False
3        동해시  0.937416   False
4        삼척시  0.736694   False
..       ...       ...     ...
244  청주시 상당구  1.508638   False
245  청주시 서원구  1.733935   False
246  청주시 청원구  2.211499   False
247  청주시 흥덕구  2.689303   False
248      충주시  1.047803   False

[249 rows x 3 columns]

In [74]:
pop["소멸위기지역"] = 0

In [75]:
pop

    행정구역(동읍면)별         항목  65세이상       계         항목(2)  1인당부담액 (천원)  소멸위기지역
0        서울특별시  서울특별시 종로구  27924  150623     서울특별시 종로구      4935.76       0
1        서울특별시   서울특별시 중구  23620  126120      서울특별시 중구     10088.84       0
2        서울특별시  서울특별시 용산구  39123  229393     서울특별시 용산구      3261.61       0
3        서울특별시  서울특별시 성동구  44769  297820     서울특별시 성동구      1613.09       0
4        서울특별시  서울특별시 광진구  49052  349800     서울특별시 광진구       997.41       0
..         ...        ...    ...     ...           ...          ...     ...
244       경상남도        함양군  13022   39353      경상남도 함양군       942.80       0
245       경상남도        거창군  16879   61729      경상남도 거창군       786.02       0
246       경상남도        합천군  17353   44621      경상남도 합천군       681.08       0
247    제주특별자치도        제주시  68551  489734   제주특별자치도 제주시      1674.91       0
248    제주특별자치도       서귀포시  34456  181059  제주특별자치도 서귀포시      1904.62       0

[249 rows x 7 columns]

In [76]:
for i in range(len(exit["시자치구"])):
    for j in range(len(pop["항목"])):
        if exit.loc[i,"시자치구"] == pop.loc[j,"항목"]:
            if exit.loc[i,"소멸위기지역"]:
                pop.loc[j,"소멸위기지역"] = 1
            else:
                pop.loc[j,"소멸위기지역"] = 0

In [77]:
pop

    행정구역(동읍면)별         항목  65세이상       계         항목(2)  1인당부담액 (천원)  소멸위기지역
0        서울특별시  서울특별시 종로구  27924  150623     서울특별시 종로구      4935.76       0
1        서울특별시   서울특별시 중구  23620  126120      서울특별시 중구     10088.84       0
2        서울특별시  서울특별시 용산구  39123  229393     서울특별시 용산구      3261.61       0
3        서울특별시  서울특별시 성동구  44769  297820     서울특별시 성동구      1613.09       0
4        서울특별시  서울특별시 광진구  49052  349800     서울특별시 광진구       997.41       0
..         ...        ...    ...     ...           ...          ...     ...
244       경상남도        함양군  13022   39353      경상남도 함양군       942.80       1
245       경상남도        거창군  16879   61729      경상남도 거창군       786.02       0
246       경상남도        합천군  17353   44621      경상남도 합천군       681.08       1
247    제주특별자치도        제주시  68551  489734   제주특별자치도 제주시      1674.91       0
248    제주특별자치도       서귀포시  34456  181059  제주특별자치도 서귀포시      1904.62       0

[249 rows x 7 columns]

In [80]:
pop["65세이상경제활동인구"] = 0

In [81]:
pop

,행정구역(동읍면)별,항목,65세이상,계,항목(2),1인당부담액 (천원),소멸위기지역,65세이상경제활동인구
0,서울특별시,서울특별시 종로구,27924,150623,서울특별시 종로구,4935.76,0,0
1,서울특별시,서울특별시 중구,23620,126120,서울특별시 중구,10088.84,0,0
2,서울특별시,서울특별시 용산구,39123,229393,서울특별시 용산구,3261.61,0,0
3,서울특별시,서울특별시 성동구,44769,297820,서울특별시 성동구,1613.09,0,0
4,서울특별시,서울특별시 광진구,49052,349800,서울특별시 광진구,997.41,0,0
...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,39353,경상남도 함양군,942.80,1,0
245,경상남도,거창군,16879,61729,경상남도 거창군,786.02,0,0
246,경상남도,합천군,17353,44621,경상남도 합천군,681.08,1,0
247,제주특별자치도,제주시,68551,489734,제주특별자치도 제주시,1674.91,0,0
248,제주특별자치도,서귀포시,34456,181059,제주특별자치도 서귀포시,1904.62,0,0

In [112]:
work65 = pd.read_excel("../데이터/관련자료/65세이상_경제활동인구.xlsx")
work65

        시도별   연령계층별  경제활동참가율(%)
0     서울특별시  65세 이상        29.1
1     부산광역시  65세 이상        28.5
2     대구광역시  65세 이상        29.0
3     인천광역시  65세 이상        32.3
4     광주광역시  65세 이상        32.0
5     대전광역시  65세 이상        31.7
6     울산광역시  65세 이상        31.0
7   세종특별자치시  65세 이상        31.3
8       경기도  65세 이상        27.1
9       강원도  65세 이상        38.4
10     충청북도  65세 이상        37.9
11     충청남도  65세 이상        35.6
12     전라북도  65세 이상        41.9
13     전라남도  65세 이상        47.5
14     경상북도  65세 이상        42.6
15     경상남도  65세 이상        38.0
16  제주특별자치도  65세 이상        52.1

In [113]:
for i in range(len(work65.시도별)):
    for j in range(len(pop["행정구역(동읍면)별"])):
        if work65.loc[i,"시도별"] == pop.loc[j,"행정구역(동읍면)별"]:
            pop.loc[j,"65세이상경제활동인구"] = work65.loc[i,"경제활동참가율(%)"] * pop.loc[j,"65세이상"] * 0.01

In [114]:
pop

,행정구역(동읍면)별,항목,65세이상,계,항목(2),1인당부담액 (천원),소멸위기지역,65세이상경제활동인구
0,서울특별시,서울특별시 종로구,27924,150623,서울특별시 종로구,4935.76,0,8125.884
1,서울특별시,서울특별시 중구,23620,126120,서울특별시 중구,10088.84,0,6873.420
2,서울특별시,서울특별시 용산구,39123,229393,서울특별시 용산구,3261.61,0,11384.793
3,서울특별시,서울특별시 성동구,44769,297820,서울특별시 성동구,1613.09,0,13027.779
4,서울특별시,서울특별시 광진구,49052,349800,서울특별시 광진구,997.41,0,14274.132
...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,39353,경상남도 함양군,942.80,1,4948.360
245,경상남도,거창군,16879,61729,경상남도 거창군,786.02,0,6414.020
246,경상남도,합천군,17353,44621,경상남도 합천군,681.08,1,6594.140
247,제주특별자치도,제주시,68551,489734,제주특별자치도 제주시,1674.91,0,35715.071
248,제주특별자치도,서귀포시,34456,181059,제주특별자치도 서귀포시,1904.62,0,17951.576

In [116]:
work = pd.read_excel("../데이터/관련자료/시도별_경제활동인구비율.xlsx",header=1)
work

        시도별  경제활동참가율 (%)
0     서울특별시         62.7
1     부산광역시         57.7
2     대구광역시         58.6
3     인천광역시         64.8
4     광주광역시         61.4
5     대전광역시         63.6
6     울산광역시         60.3
7   세종특별자치시         65.0
8       경기도         63.4
9       강원도         65.0
10     충청북도         66.6
11     충청남도         66.0
12     전라북도         61.8
13     전라남도         66.2
14     경상북도         64.5
15     경상남도         63.0
16  제주특별자치도         68.5

In [117]:
pop["경제활동인구"] = 0

In [118]:
pop

,행정구역(동읍면)별,항목,65세이상,계,항목(2),1인당부담액 (천원),소멸위기지역,65세이상경제활동인구,경제활동인구
0,서울특별시,서울특별시 종로구,27924,150623,서울특별시 종로구,4935.76,0,8125.884,0
1,서울특별시,서울특별시 중구,23620,126120,서울특별시 중구,10088.84,0,6873.420,0
2,서울특별시,서울특별시 용산구,39123,229393,서울특별시 용산구,3261.61,0,11384.793,0
3,서울특별시,서울특별시 성동구,44769,297820,서울특별시 성동구,1613.09,0,13027.779,0
4,서울특별시,서울특별시 광진구,49052,349800,서울특별시 광진구,997.41,0,14274.132,0
...,...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,39353,경상남도 함양군,942.80,1,4948.360,0
245,경상남도,거창군,16879,61729,경상남도 거창군,786.02,0,6414.020,0
246,경상남도,합천군,17353,44621,경상남도 합천군,681.08,1,6594.140,0
247,제주특별자치도,제주시,68551,489734,제주특별자치도 제주시,1674.91,0,35715.071,0
248,제주특별자치도,서귀포시,34456,181059,제주특별자치도 서귀포시,1904.62,0,17951.576,0

In [121]:
for i in range(len(work.시도별)):
    for j in range(len(pop["행정구역(동읍면)별"])):
        if work.loc[i,"시도별"] == pop.loc[j,"행정구역(동읍면)별"]:
            pop.loc[j,"경제활동인구"] = work.loc[i,"경제활동참가율 (%)"] * pop.loc[j,"계"] * 0.01

In [123]:
pop

,행정구역(동읍면)별,항목,65세이상,계,항목(2),1인당부담액 (천원),소멸위기지역,65세이상경제활동인구,경제활동인구
0,서울특별시,서울특별시 종로구,27924,150623,서울특별시 종로구,4935.76,0,8125.884,94440.621
1,서울특별시,서울특별시 중구,23620,126120,서울특별시 중구,10088.84,0,6873.420,79077.240
2,서울특별시,서울특별시 용산구,39123,229393,서울특별시 용산구,3261.61,0,11384.793,143829.411
3,서울특별시,서울특별시 성동구,44769,297820,서울특별시 성동구,1613.09,0,13027.779,186733.140
4,서울특별시,서울특별시 광진구,49052,349800,서울특별시 광진구,997.41,0,14274.132,219324.600
...,...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,39353,경상남도 함양군,942.80,1,4948.360,24792.390
245,경상남도,거창군,16879,61729,경상남도 거창군,786.02,0,6414.020,38889.270
246,경상남도,합천군,17353,44621,경상남도 합천군,681.08,1,6594.140,28111.230
247,제주특별자치도,제주시,68551,489734,제주특별자치도 제주시,1674.91,0,35715.071,335467.790
248,제주특별자치도,서귀포시,34456,181059,제주특별자치도 서귀포시,1904.62,0,17951.576,124025.415

In [130]:
pop.rename(columns= {"행정구역(동읍면)별":"시도","항목":"세부사항","계":"총인구수","1인당부담액 (천원)":"1인당지방세부담액(천원)"},inplace=True)

In [131]:
pop

,시도,세부사항,65세이상,총인구수,항목(2),1인당지방세부담액(천원),소멸위기지역,65세이상경제활동인구,경제활동인구
0,서울특별시,서울특별시 종로구,27924,150623,서울특별시 종로구,4935.76,0,8125.884,94440.621
1,서울특별시,서울특별시 중구,23620,126120,서울특별시 중구,10088.84,0,6873.420,79077.240
2,서울특별시,서울특별시 용산구,39123,229393,서울특별시 용산구,3261.61,0,11384.793,143829.411
3,서울특별시,서울특별시 성동구,44769,297820,서울특별시 성동구,1613.09,0,13027.779,186733.140
4,서울특별시,서울특별시 광진구,49052,349800,서울특별시 광진구,997.41,0,14274.132,219324.600
...,...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,39353,경상남도 함양군,942.80,1,4948.360,24792.390
245,경상남도,거창군,16879,61729,경상남도 거창군,786.02,0,6414.020,38889.270
246,경상남도,합천군,17353,44621,경상남도 합천군,681.08,1,6594.140,28111.230
247,제주특별자치도,제주시,68551,489734,제주특별자치도 제주시,1674.91,0,35715.071,335467.790
248,제주특별자치도,서귀포시,34456,181059,제주특별자치도 서귀포시,1904.62,0,17951.576,124025.415

In [132]:
pop = pop[["시도","세부사항","65세이상","65세이상경제활동인구","총인구수","경제활동인구","1인당지방세부담액(천원)","소멸위기지역"]]

In [134]:
pop

,시도,세부사항,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역
0,서울특별시,서울특별시 종로구,27924,8125.884,150623,94440.621,4935.76,0
1,서울특별시,서울특별시 중구,23620,6873.420,126120,79077.240,10088.84,0
2,서울특별시,서울특별시 용산구,39123,11384.793,229393,143829.411,3261.61,0
3,서울특별시,서울특별시 성동구,44769,13027.779,297820,186733.140,1613.09,0
4,서울특별시,서울특별시 광진구,49052,14274.132,349800,219324.600,997.41,0
...,...,...,...,...,...,...,...,...
244,경상남도,함양군,13022,4948.360,39353,24792.390,942.80,1
245,경상남도,거창군,16879,6414.020,61729,38889.270,786.02,0
246,경상남도,합천군,17353,6594.140,44621,28111.230,681.08,1
247,제주특별자치도,제주시,68551,35715.071,489734,335467.790,1674.91,0
248,제주특별자치도,서귀포시,34456,17951.576,181059,124025.415,1904.62,0

In [135]:
pop.to_excel("../데이터/관련자료/관련자료 전처리.xlsx",encoding="cp949",index=False)