In [1]:
import pandas as pd

In [2]:
emart = pd.read_excel("../데이터/이마트 데이터.xlsx",usecols="A:N")
emart

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,개점 연도,공시지가
0,서울특별시,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,37.571015,127.022913,1,3,0,96410.82,8.619127e+11,1000.0,NaN,2008-07-28,8940000
1,NaN,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,37.529444,126.965556,1,0,0,42405.64,6.411733e+11,2100.0,"용산역, 신용산역",2004-10-07,15120000
2,NaN,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,37.651667,127.046944,1,4,0,12776.00,9.053074e+10,159.0,창동역,1993-11-12,7086000
3,NaN,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,37.610891,127.029824,2,2,0,20690.71,3.161540e+11,195.0,미아사거리역,2008-10-16,15280000
4,NaN,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,37.604873,127.031185,2,2,0,75041.00,4.795120e+11,760.0,NaN,2012-05-29,6390000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,NaN,순천점,대한민국 전라남도 순천시 덕암동 팔마로 191,34.942448,127.508434,0,2,0,30731.91,3.014493e+10,700.0,순천역,2005-07-27,980900
136,NaN,여수점,대한민국 전라남도 여수시 광림동 좌수영로 277,34.758000,127.714973,0,0,0,20791.79,1.752540e+10,510.0,여수종합버스터미널,2001-12-23,842900
137,제주특별자치도,서귀포점,대한민국 제주특별자치도 서귀포시 법환동 일주동로 9209,33.248333,126.509167,0,0,0,14158.27,9.132084e+09,480.0,서귀포시외버스터미널,2006-06-08,645000
138,NaN,신제주점,대한민국 제주특별자치도 제주시 노형동 1100로 3348,33.484904,126.480517,0,1,0,24321.04,1.141143e+11,297.0,NaN,2003-08-29,4692000
139,NaN,제주점,대한민국 제주특별자치도 제주시 삼도2동 탑동로 38 제주특별자치도,33.517929,126.521324,0,0,0,27825.60,4.674701e+10,540.0,NaN,1996-11-22,1680000

In [3]:
emart.지역.fillna(method="pad",inplace=True)

In [4]:
emart["부지 공시지가"] = emart["부지 공시지가"].astype(int)

In [5]:
emart.loc[:,"점포형태"] = 0

In [6]:
emart

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,개점 연도,공시지가,점포형태
0,서울특별시,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,37.571015,127.022913,1,3,0,96410.82,861912730800,1000.0,NaN,2008-07-28,8940000,0
1,서울특별시,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,37.529444,126.965556,1,0,0,42405.64,641173276800,2100.0,"용산역, 신용산역",2004-10-07,15120000,0
2,서울특별시,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,37.651667,127.046944,1,4,0,12776.00,90530736000,159.0,창동역,1993-11-12,7086000,0
3,서울특별시,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,37.610891,127.029824,2,2,0,20690.71,316154048800,195.0,미아사거리역,2008-10-16,15280000,0
4,서울특별시,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,37.604873,127.031185,2,2,0,75041.00,479511990000,760.0,NaN,2012-05-29,6390000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,전라남도,순천점,대한민국 전라남도 순천시 덕암동 팔마로 191,34.942448,127.508434,0,2,0,30731.91,30144930519,700.0,순천역,2005-07-27,980900,0
136,전라남도,여수점,대한민국 전라남도 여수시 광림동 좌수영로 277,34.758000,127.714973,0,0,0,20791.79,17525399791,510.0,여수종합버스터미널,2001-12-23,842900,0
137,제주특별자치도,서귀포점,대한민국 제주특별자치도 서귀포시 법환동 일주동로 9209,33.248333,126.509167,0,0,0,14158.27,9132084150,480.0,서귀포시외버스터미널,2006-06-08,645000,0
138,제주특별자치도,신제주점,대한민국 제주특별자치도 제주시 노형동 1100로 3348,33.484904,126.480517,0,1,0,24321.04,114114319680,297.0,NaN,2003-08-29,4692000,0
139,제주특별자치도,제주점,대한민국 제주특별자치도 제주시 삼도2동 탑동로 38 제주특별자치도,33.517929,126.521324,0,0,0,27825.60,46747008000,540.0,NaN,1996-11-22,1680000,0

In [7]:
emart_tr = pd.read_excel("../데이터/이마트 트레이더스 데이터.xlsx",usecols="A:N")
emart_tr

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,개점년도,공시지가
0,수도권,구성점,경기도 용인시 기흥구 용구대로 2457,37.304958,127.105103,0,0,0,48599.27,1.633421e+11,851,구성역,NaN,3361000
1,수도권,송림점,인천광역시 동구 봉수대로 82,37.483056,126.660556,0,3,0,37459.24,3.820842e+10,934,NaN,NaN,1020000
2,수도권,안산점,경기도 안산시 단원구 중앙대로 397,37.331175,126.784762,0,2,0,41122.40,1.118941e+11,522,안산역,NaN,2721000
3,수도권,수원신동점,경기도 수원시 영통구 삼성로 2,37.245700,127.048032,1,6,1,45008.92,1.552808e+11,705,망포역,NaN,3450000
4,수도권,킨텍스점,경기도 고양시 일산서구 킨텍스로 171,37.661667,126.744167,0,4,1,99753.41,3.871430e+11,1374,NaN,NaN,3881000
5,수도권,SF하남점,경기도 하남시 미사대로 750,37.547474,127.224523,1,1,1,317073.20,8.909757e+11,6200,하남검단산역,NaN,2810000
6,수도권,고양점,경기도 고양시 덕양구 고양대로 1955,37.646521,126.892983,0,1,0,232613.10,5.245425e+11,4500,삼송역,NaN,2255000
7,수도권,군포점,경기도 군포시 삼성로 74,37.339771,126.934090,1,1,0,46313.52,1.366249e+11,714,NaN,NaN,2950000
8,수도권,김포점,경기도 김포시 김포대로 715,37.612586,126.730652,0,2,0,55599.69,1.231533e+11,688,풍무역,NaN,2215000
9,수도권,부천점,경기도 부천시 옥길동 768,37.461433,126.813638,0,2,0,108793.00,4.416996e+11,1866,NaN,NaN,4060000
10,수도권,위례점,경기도 하남시 위례대로 200,37.480180,127.148541,1,2,0,160322.15,7.663399e+11,1843,NaN,NaN,4780000
11,수도권,월계점,서울특별시 노원구 마들로3길 17,37.627831,127.061399,2,3,0,39727.96,1.296721e+11,1274,광운대역,NaN,3264000
12,기타 지역,월평점,대전광역시 서구 한밭대로 580,36.357640,127.362995,1,4,0,46985.53,1.367279e+11,953,월평역,NaN,2910000
13,기타 지역,서면점,부산광역시 부산진구 시민공원로 31,35.163910,129.052599,2,4,0,44063.89,2.081578e+11,840,"국철 부전역, 부산진구청",NaN,4724000
14,기타 지역,비산점,대구광역시 서구 팔달로 54,35.889877,128.555970,0,0,0,30580.63,5.565675e+10,607,"공단역, 서대구고속버스터미널",NaN,1820000
15,기타 지역,천안아산점,충남 아산시 배방읍 고속철대로 133,36.796556,127.105777,2,2,0,44267.35,1.174413e+11,785,"천안아산역, 아산역",NaN,2653000
16,기타 지역,양산점,경상남도 양산시 평산로 16,35.382194,129.152849,0,1,0,22751.50,4.118022e+10,547,NaN,NaN,1810000
17,기타 지역,명지점,부산광역시 강서구 명지국제6로 168 (명지동),35.092999,128.918500,0,0,0,99270.52,1.993352e+11,1273,NaN,NaN,2008000

In [8]:
emart_tr["부지 공시지가"] = emart_tr["부지 공시지가"].astype(int)
emart_tr.loc[:,"점포형태"] = 1

In [9]:
emart_tr

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,개점년도,공시지가,점포형태
0,수도권,구성점,경기도 용인시 기흥구 용구대로 2457,37.304958,127.105103,0,0,0,48599.27,163342146470,851,구성역,NaN,3361000,1
1,수도권,송림점,인천광역시 동구 봉수대로 82,37.483056,126.660556,0,3,0,37459.24,38208424800,934,NaN,NaN,1020000,1
2,수도권,안산점,경기도 안산시 단원구 중앙대로 397,37.331175,126.784762,0,2,0,41122.40,111894050400,522,안산역,NaN,2721000,1
3,수도권,수원신동점,경기도 수원시 영통구 삼성로 2,37.245700,127.048032,1,6,1,45008.92,155280774000,705,망포역,NaN,3450000,1
4,수도권,킨텍스점,경기도 고양시 일산서구 킨텍스로 171,37.661667,126.744167,0,4,1,99753.41,387142984210,1374,NaN,NaN,3881000,1
5,수도권,SF하남점,경기도 하남시 미사대로 750,37.547474,127.224523,1,1,1,317073.20,890975692000,6200,하남검단산역,NaN,2810000,1
6,수도권,고양점,경기도 고양시 덕양구 고양대로 1955,37.646521,126.892983,0,1,0,232613.10,524542540500,4500,삼송역,NaN,2255000,1
7,수도권,군포점,경기도 군포시 삼성로 74,37.339771,126.934090,1,1,0,46313.52,136624883999,714,NaN,NaN,2950000,1
8,수도권,김포점,경기도 김포시 김포대로 715,37.612586,126.730652,0,2,0,55599.69,123153313350,688,풍무역,NaN,2215000,1
9,수도권,부천점,경기도 부천시 옥길동 768,37.461433,126.813638,0,2,0,108793.00,441699580000,1866,NaN,NaN,4060000,1
10,수도권,위례점,경기도 하남시 위례대로 200,37.480180,127.148541,1,2,0,160322.15,766339877000,1843,NaN,NaN,4780000,1
11,수도권,월계점,서울특별시 노원구 마들로3길 17,37.627831,127.061399,2,3,0,39727.96,129672061440,1274,광운대역,NaN,3264000,1
12,기타 지역,월평점,대전광역시 서구 한밭대로 580,36.357640,127.362995,1,4,0,46985.53,136727892300,953,월평역,NaN,2910000,1
13,기타 지역,서면점,부산광역시 부산진구 시민공원로 31,35.163910,129.052599,2,4,0,44063.89,208157816360,840,"국철 부전역, 부산진구청",NaN,4724000,1
14,기타 지역,비산점,대구광역시 서구 팔달로 54,35.889877,128.555970,0,0,0,30580.63,55656746600,607,"공단역, 서대구고속버스터미널",NaN,1820000,1
15,기타 지역,천안아산점,충남 아산시 배방읍 고속철대로 133,36.796556,127.105777,2,2,0,44267.35,117441279550,785,"천안아산역, 아산역",NaN,2653000,1
16,기타 지역,양산점,경상남도 양산시 평산로 16,35.382194,129.152849,0,1,0,22751.50,41180215000,547,NaN,NaN,1810000,1
17,기타 지역,명지점,부산광역시 강서구 명지국제6로 168 (명지동),35.092999,128.918500,0,0,0,99270.52,199335204160,1273,NaN,NaN,2008000,1

In [10]:
emart_cl = pd.read_excel("../데이터/이마트 폐점점 데이터.xlsx",usecols="A:N")
emart_cl

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,폐점연도,공시지가
0,NaN,안산점(공단점),경기도 안산시 단원구 동산로 63 (원시동 773-9),NaN,NaN,1,3,1,36023.798,76442499356,NaN,NaN,2012-12-16,2122000
1,NaN,공항점,서울특별시 강서구 하늘길 76 (과해동 676),NaN,NaN,1,2,0,22000.000,34100000000,NaN,NaN,2014-10-01,1550000
2,NaN,장안점,"서울특별시 동대문구 한천로 42 (장안동 580, 구 장안시장)",NaN,NaN,1,4,0,23387.830,94603772350,NaN,NaN,2017-03-31,4045000
3,NaN,학성점,울산광역시 중구 구교로 59 (학성동 349-15),NaN,NaN,1,3,0,42191.330,87589201080,NaN,NaN,2017-11-29,2076000
4,NaN,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),NaN,NaN,1,2,0,42302.000,182406224000,NaN,NaN,2018-05-17,4312000
5,NaN,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),NaN,NaN,1,8,0,6600.000,12566400000,NaN,NaN,2018-06-28,1904000
6,NaN,덕이점,고양시 일산서구 경의로 798 (덕이동 205),NaN,NaN,2,2,1,NaN,0,NaN,NaN,2019-03-20,2357000
7,NaN,서부산점,부산광역시 사상구 낙동대로 910 (감전동),NaN,NaN,1,2,0,71773.500,140460739500,NaN,NaN,2019-10-29,1957000
8,NaN,상무점,광주광역시 서구 운천로 263 (치평동),NaN,NaN,1,1,0,45416.280,156186586920,NaN,NaN,2019-12-18,3439000

In [11]:
emart_cl.loc[:,"점포형태"] = 2

In [12]:
emart_cl

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,폐점연도,공시지가,점포형태
0,NaN,안산점(공단점),경기도 안산시 단원구 동산로 63 (원시동 773-9),NaN,NaN,1,3,1,36023.798,76442499356,NaN,NaN,2012-12-16,2122000,2
1,NaN,공항점,서울특별시 강서구 하늘길 76 (과해동 676),NaN,NaN,1,2,0,22000.000,34100000000,NaN,NaN,2014-10-01,1550000,2
2,NaN,장안점,"서울특별시 동대문구 한천로 42 (장안동 580, 구 장안시장)",NaN,NaN,1,4,0,23387.830,94603772350,NaN,NaN,2017-03-31,4045000,2
3,NaN,학성점,울산광역시 중구 구교로 59 (학성동 349-15),NaN,NaN,1,3,0,42191.330,87589201080,NaN,NaN,2017-11-29,2076000,2
4,NaN,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),NaN,NaN,1,2,0,42302.000,182406224000,NaN,NaN,2018-05-17,4312000,2
5,NaN,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),NaN,NaN,1,8,0,6600.000,12566400000,NaN,NaN,2018-06-28,1904000,2
6,NaN,덕이점,고양시 일산서구 경의로 798 (덕이동 205),NaN,NaN,2,2,1,NaN,0,NaN,NaN,2019-03-20,2357000,2
7,NaN,서부산점,부산광역시 사상구 낙동대로 910 (감전동),NaN,NaN,1,2,0,71773.500,140460739500,NaN,NaN,2019-10-29,1957000,2
8,NaN,상무점,광주광역시 서구 운천로 263 (치평동),NaN,NaN,1,1,0,45416.280,156186586920,NaN,NaN,2019-12-18,3439000,2

In [13]:
emart_all = pd.concat([emart,emart_tr,emart_cl])

In [14]:
emart_all

,지역,지점명,주소,위도,경도,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,개점 연도,공시지가,점포형태,개점년도,폐점연도
0,서울특별시,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,37.571015,127.022913,1,3,0,96410.82,861912730800,1000.0,NaN,2008-07-28,8940000,0,NaN,NaT
1,서울특별시,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,37.529444,126.965556,1,0,0,42405.64,641173276800,2100.0,"용산역, 신용산역",2004-10-07,15120000,0,NaN,NaT
2,서울특별시,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,37.651667,127.046944,1,4,0,12776.00,90530736000,159.0,창동역,1993-11-12,7086000,0,NaN,NaT
3,서울특별시,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,37.610891,127.029824,2,2,0,20690.71,316154048800,195.0,미아사거리역,2008-10-16,15280000,0,NaN,NaT
4,서울특별시,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,37.604873,127.031185,2,2,0,75041.00,479511990000,760.0,NaN,2012-05-29,6390000,0,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,NaN,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),NaN,NaN,1,2,0,42302.00,182406224000,NaN,NaN,NaN,4312000,2,NaN,2018-05-17
5,NaN,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),NaN,NaN,1,8,0,6600.00,12566400000,NaN,NaN,NaN,1904000,2,NaN,2018-06-28
6,NaN,덕이점,고양시 일산서구 경의로 798 (덕이동 205),NaN,NaN,2,2,1,NaN,0,NaN,NaN,NaN,2357000,2,NaN,2019-03-20
7,NaN,서부산점,부산광역시 사상구 낙동대로 910 (감전동),NaN,NaN,1,2,0,71773.50,140460739500,NaN,NaN,NaN,1957000,2,NaN,2019-10-29
8,NaN,상무점,광주광역시 서구 운천로 263 (치평동),NaN,NaN,1,1,0,45416.28,156186586920,NaN,NaN,NaN,3439000,2,NaN,2019-12-18

In [15]:
emart_all = emart_all[["지점명","주소","3km내 이마트","3km내 경쟁 대형마트","3km내 창고형 마트","부지 면적","부지 공시지가",
                      "주차 시설","대중 교통","점포형태"]]

In [16]:
emart_all

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000.0,NaN,0
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100.0,"용산역, 신용산역",0
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159.0,창동역,0
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195.0,미아사거리역,0
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
4,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,182406224000,NaN,NaN,2
5,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,NaN,NaN,2
6,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,NaN,0,NaN,NaN,2
7,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,140460739500,NaN,NaN,2
8,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,156186586920,NaN,NaN,2

In [17]:
emart_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 8
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   지점명           167 non-null    object
 1   주소            167 non-null    object
 2   3km내 이마트      167 non-null    int64
 3   3km내 경쟁 대형마트  167 non-null    int64
 4   3km내 창고형 마트   167 non-null    int64
 5   부지 면적         166 non-null    float64
 6   부지 공시지가       167 non-null    int64
 7   주차 시설         155 non-null    float64
 8   대중 교통         81 non-null     object
 9   점포형태          167 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 14.4+ KB

In [18]:
emart_all.corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,점포형태
3km내 이마트,1.000000,0.431286,0.336891,0.181294,0.466506,0.081232,0.237032
3km내 경쟁 대형마트,0.431286,1.000000,0.398570,0.112023,0.251047,0.094135,0.196347
3km내 창고형 마트,0.336891,0.398570,1.000000,0.217397,0.335626,0.081015,-0.065661
부지 면적,0.181294,0.112023,0.217397,1.000000,0.678403,0.868800,0.216950
부지 공시지가,0.466506,0.251047,0.335626,0.678403,1.000000,0.528633,0.000750
주차 시설,0.081232,0.094135,0.081015,0.868800,0.528633,1.000000,0.370498
점포형태,0.237032,0.196347,-0.065661,0.216950,0.000750,0.370498,1.000000

In [20]:
emart_all.reset_index(drop=True,inplace=True)

In [21]:
emart_all

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000.0,NaN,0
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100.0,"용산역, 신용산역",0
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159.0,창동역,0
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195.0,미아사거리역,0
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
162,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,182406224000,NaN,NaN,2
163,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,NaN,NaN,2
164,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,NaN,0,NaN,NaN,2
165,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,140460739500,NaN,NaN,2
166,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,156186586920,NaN,NaN,2

In [22]:
emart_all.to_excel("../데이터/이마트 총합 데이터.xlsx",encoding="cp949",index=False)