In [75]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [78]:
emart = pd.read_excel("../../데이터/emart(최종.ver1).xlsx",usecols="A,C,F,T,V,W,Z,AA,AB")
emart

,지점명,3km내 자사,3km내 경쟁,지방세부담액,1인가구구성원수,다인가구구성원수,카페(1년),자동차등록대수,점포형태
0,청계천점,1,1,10088.84,20803,105317,323,51736,0
1,용산점,1,1,3261.61,34240,195153,85,76521,0
2,창동점,0,3,539.75,30848,299301,217,96435,0
3,미아점,1,2,779.74,55136,387012,162,119321,0
4,하월곡점,2,2,779.74,55136,387012,166,119321,0
...,...,...,...,...,...,...,...,...,...
160,시지점,1,2,1098.98,35853,391583,1,218885,2
161,부평점,1,7,149.36,48607,455339,10,228866,2
162,덕이점,2,2,1198.70,84595,991584,12,418739,2
163,서부산점,1,0,769.06,27709,188374,32,89888,2
164,상무점,1,1,942.95,38197,261653,55,148351,2

In [79]:
emart[emart["점포형태"]!=1].corr()

,3km내 자사,3km내 경쟁,지방세부담액,1인가구구성원수,다인가구구성원수,카페(1년),자동차등록대수,점포형태
3km내 자사,1.000000,0.359420,0.023707,0.158586,0.111595,0.060460,-0.010558,0.277844
3km내 경쟁,0.359420,1.000000,-0.176114,0.204926,0.211360,-0.025519,0.156212,0.207728
지방세부담액,0.023707,-0.176114,1.000000,-0.035441,-0.024602,0.098559,-0.011195,-0.117813
1인가구구성원수,0.158586,0.204926,-0.035441,1.000000,0.907413,0.030549,0.858783,0.044529
다인가구구성원수,0.111595,0.211360,-0.024602,0.907413,1.000000,0.090763,0.925256,0.022409
카페(1년),0.060460,-0.025519,0.098559,0.030549,0.090763,1.000000,0.055054,-0.245810
자동차등록대수,-0.010558,0.156212,-0.011195,0.858783,0.925256,0.055054,1.000000,0.000578
점포형태,0.277844,0.207728,-0.117813,0.044529,0.022409,-0.245810,0.000578,1.000000

In [80]:
emart_a = emart[emart["점포형태"]==0].sample(41,random_state = 77)

In [81]:
emart_a

,지점명,3km내 자사,3km내 경쟁,지방세부담액,1인가구구성원수,다인가구구성원수,카페(1년),자동차등록대수,점포형태
98,사상점,0,0,769.06,27709,188374,47,89888,0
83,대전터미널점,0,0,458.43,37120,187609,49,93431,0
125,광주점,0,2,942.95,38197,261653,124,148351,0
5,월계점,1,2,514.70,51280,478337,451,152071,0
49,성남점,0,0,1797.96,102895,837624,202,339068,0
82,태백점,0,0,708.26,6081,37173,8,20988,0
108,경산점,0,2,1280.72,35808,227478,154,138916,0
128,군산점,0,1,1067.84,33802,234756,215,134093,0
91,천안터미널점,0,2,1515.42,83657,571535,36,324506,0
109,구미점,0,2,1488.62,49685,368322,37,216166,0
85,세종점,0,0,2928.04,35763,309610,242,163339,0
14,양재점,0,0,3613.36,41137,388203,153,181182,0
99,연제점,0,2,912.09,22382,187491,392,98311,0
13,가든파이브점,1,1,1951.87,63451,608638,81,240559,0
104,반야월점,0,0,855.06,40023,302874,58,162564,0
50,안양점,1,1,1116.73,44295,515497,539,209800,0
79,속초점,0,0,1170.23,10804,70988,106,38004,0
26,은평점,0,0,737.92,48888,429141,373,129820,0
131,전주점,0,3,972.89,76562,579045,62,324152,0
67,의정부점,0,2,929.55,41248,413611,200,159070,0
137,제주점,0,0,1674.91,52189,437545,16,491312,0
44,수원점,0,3,1259.90,129612,1062406,206,507939,0
57,고잔점,0,0,1174.53,73604,580443,141,297771,0
41,진접점,0,1,1073.13,18364,206705,78,103867,0
9,왕십리점,2,1,1613.09,40706,257114,121,106263,0
48,분당점,0,0,1797.96,102895,837624,248,339068,0
87,청주점,0,0,630.47,97837,743703,70,418488,0
36,풍산점,1,2,1198.70,84595,991584,186,418739,0
64,여주점,0,0,1914.28,12003,99231,113,68490,0
119,사천점,0,1,1230.66,14439,96829,99,56496,0
80,원주점,0,1,1199.74,43619,308360,133,171679,0
76,인천공항점,0,0,1086.95,17162,121373,16,80686,0
74,동인천점,0,1,1086.95,17162,121373,114,80686,0
16,수서점,1,3,4835.12,62727,479188,34,235415,0
136,신제주점,0,1,1674.91,52189,437545,42,491312,0
43,서수원점,0,2,1259.90,129612,1062406,64,507939,0
113,안동점,0,1,893.86,23211,135609,11,83225,0
8,성수점,2,0,1613.09,40706,257114,931,106263,0
42,광교점,0,1,1259.90,129612,1062406,127,507939,0
103,월배점,0,0,787.78,59291,506922,208,280913,0
112,상주점,0,0,782.94,14443,83992,9,54625,0

In [82]:
emart_b =emart[emart["점포형태"]==2]

In [83]:
emart_b

,지점명,3km내 자사,3km내 경쟁,지방세부담액,1인가구구성원수,다인가구구성원수,카페(1년),자동차등록대수,점포형태
156,안산점(공단점),1,1,1174.53,73604,580443,0,297771,2
157,공항점,0,1,1206.84,73011,514542,5,204675,2
158,장안점,1,2,980.77,55593,290222,1,97910,2
159,학성점,1,3,143.66,22515,198089,2,103245,2
160,시지점,1,2,1098.98,35853,391583,1,218885,2
161,부평점,1,7,149.36,48607,455339,10,228866,2
162,덕이점,2,2,1198.70,84595,991584,12,418739,2
163,서부산점,1,0,769.06,27709,188374,32,89888,2
164,상무점,1,1,942.95,38197,261653,55,148351,2

In [84]:
emart_a.reset_index(drop=True,inplace=True)

In [85]:
emart_c=pd.concat([emart_a,emart_b])

In [86]:
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import scale, robust_scale

LR = LogisticRegression()

X = emart_c.iloc[:,1:-1]
y = emart_c.iloc[:,-1]

X.info()

X1 = scale(X)
X2 = robust_scale(X)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 164
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   3km내 자사   50 non-null     int64
 1   3km내 경쟁   50 non-null     int64
 2   지방세부담액    50 non-null     float64
 3   1인가구구성원수  50 non-null     int64
 4   다인가구구성원수  50 non-null     int64
 5   카페(1년)    50 non-null     int64
 6   자동차등록대수   50 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 3.1 KB

In [87]:
LR.fit(X1,y)

a = np.round(LR.predict_proba(X1),2)

print(LR.predict(scale(emart.iloc[:,1:-1])))

LR.fit(X2,y)

b =np.round(LR.predict_proba(X2))

print(LR.predict(robust_scale(emart.iloc[:,1:-1])))

[0 0 0 0 2 0 2 2 0 2 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 0 0 0 0 0 0 0 0 0 2 0 0
 0 0 0 0 0 0 0 0 0 0 2 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 2 0 2 2 2 2 2 2 2]
[0 0 0 0 2 0 2 2 0 2 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 0 0 0 0 0 0 0 0 0 2 0 0
 0 0 0 0 0 0 0 0 0 0 2 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 2 0 2 2 2 2 2 2 0]

In [88]:
LR.predict(robust_scale(emart.iloc[:,1:-1]))

array([0, 0, 0, 0, 2, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0])

In [89]:
for i,v in enumerate(np.round(LR.predict_proba(robust_scale(emart.iloc[:,1:-1])),3)):
    print(emart.iloc[i,0],v)

청계천점 [1. 0.]
용산점 [0.92 0.08]
창동점 [0.901 0.099]
미아점 [0.606 0.394]
하월곡점 [0.247 0.753]
월계점 [0.951 0.049]
묵동점 [0.027 0.973]
상봉점 [0.119 0.881]
성수점 [0.999 0.001]
왕십리점 [0.408 0.592]
자양점 [0.542 0.458]
명일점 [0.962 0.038]
천호점 [0.945 0.055]
가든파이브점 [0.738 0.262]
양재점 [0.995 0.005]
역삼점 [0.999 0.001]
수서점 [0.944 0.056]
이수점 [0.805 0.195]
가양점 [0.945 0.055]
목동점 [0.548 0.452]
신월점 [0.898 0.102]
여의도점 [0.813 0.187]
영등포점 [0.463 0.537]
구로점 [0.367 0.633]
신도림점 [0.022 0.978]
수색점 [0.818 0.182]
은평점 [0.989 0.011]
마포점 [0.617 0.383]
동백점 [0.942 0.058]
보라점 [0.87 0.13]
수지점 [0.967 0.033]
용인점 [0.99 0.01]
죽전점 [0.917 0.083]
흥덕점 [0.885 0.115]
일산점 [0.391 0.609]
킨텍스점 [0.913 0.087]
풍산점 [0.734 0.266]
화정점 [0.819 0.181]
남양주점 [0.935 0.065]
다산점 [0.949 0.051]
별내점 [0.974 0.026]
진접점 [0.885 0.115]
광교점 [0.896 0.104]
서수원점 [0.785 0.215]
수원점 [0.916 0.084]
광명소하점 [0.96 0.04]
부천점 [0.659 0.341]
중동점 [0.438 0.562]
분당점 [0.984 0.016]
성남점 [0.975 0.025]
안양점 [0.991 0.009]
평촌점 [0.421 0.579]
파주점 [0.99 0.01]
파주운정점 [0.975 0.025]
동탄점 [0.993 0.007]
화성봉담점 [0.996 0.004]
경기광주점 [0.94 0.06]
고잔점 [0.939 0.061]
과천점 [1. 0.]
김포한강점 [0.993 0.007]
산본점 [0.924 0.076]
시화점 [0.955 0.045]
안성점 [0.928 0.072]
양주점 [0.916 0.084]
여주점 [0.969 0.031]
오산점 [0.97 0.03]
의왕점 [0.946 0.054]
의정부점 [0.934 0.066]
이천점 [0.935 0.065]
평택점 [0.98 0.02]
포천점 [0.917 0.083]
하남점 [0.987 0.013]
검단점 [0.908 0.092]
계양점 [0.996 0.004]
동인천점 [0.917 0.083]
연수점 [0.957 0.043]
인천공항점 [0.849 0.151]
강릉점 [0.895 0.105]
동해점 [0.824 0.176]
속초점 [0.935 0.065]
원주점 [0.929 0.071]
춘천점 [0.876 0.124]
태백점 [0.79 0.21]
대전터미널점 [0.789 0.211]
둔산점 [0.739 0.261]
세종점 [0.996 0.004]
제천점 [0.7 0.3]
청주점 [0.816 0.184]
충주점 [0.75 0.25]
천안점 [0.916 0.084]
천안서북점 [0.98 0.02]
천안터미널점 [0.82 0.18]
펜타포트점 [0.709 0.291]
보령점 [0.862 0.138]
서산점 [0.923 0.077]
아산점 [0.968 0.032]
금정점 [0.953 0.047]
문현점 [0.834 0.166]
사상점 [0.838 0.162]
연제점 [0.99 0.01]
해운대점 [0.914 0.086]
감삼점 [0.606 0.394]
성서점 [0.438 0.562]
월배점 [0.958 0.042]
반야월점 [0.858 0.142]
칠성점 [0.993 0.007]
만촌점 [0.972 0.028]
울산점 [0.833 0.167]
경산점 [0.932 0.068]
구미점 [0.84 0.16]
동구미점 [0.881 0.119]
김천점 [0.785 0.215]
상주점 [0.798 0.202]
안동점 [0.769 0.231]
영천점 [0.99 0.01]
포항점 [0.873 0.127]
포항이동점 [0.764 0.236]
김해점 [0.924 0.076]
마산점 [0.813 0.187]
사천점 [0.916 0.084]
양산점 [0.947 0.053]
진주점 [0.983 0.017]
창원점 [0.893 0.107]
통영점 [0.922 0.078]
광산점 [0.872 0.128]
광주점 [0.881 0.119]
동광주점 [0.827 0.173]
봉선점 [0.818 0.182]
군산점 [0.963 0.037]
남원점 [0.764 0.236]
익산점 [0.778 0.222]
전주점 [0.738 0.262]
목포점 [0.941 0.059]
순천점 [0.909 0.091]
여수점 [0.903 0.097]
서귀포점 [0.969 0.031]
신제주점 [0.921 0.079]
제주점 [0.922 0.078]
구성점 [0.864 0.136]
송림점 [0.981 0.019]
안산점 [0.833 0.167]
수원신동점 [0.725 0.275]
킨텍스점 [0.979 0.021]
SF하남점 [0.976 0.024]
고양점 [0.828 0.172]
군포점 [0.953 0.047]
김포점 [0.998 0.002]
부천점 [0.968 0.032]
위례점 [0.946 0.054]
월계점 [0.997 0.003]
월평점 [0.71 0.29]
서면점 [0.577 0.423]
비산점 [0.955 0.045]
천안아산점 [0.901 0.099]
양산점 [0.979 0.021]
명지점 [0.996 0.004]
안산점(공단점) [0.391 0.609]
공항점 [0.755 0.245]
장안점 [0.288 0.712]
학성점 [0.156 0.844]
시지점 [0.366 0.634]
부평점 [0.06 0.94]
덕이점 [0.097 0.903]
서부산점 [0.48 0.52]
상무점 [0.506 0.494]

In [90]:
emart_c.corr()

,3km내 자사,3km내 경쟁,지방세부담액,1인가구구성원수,다인가구구성원수,카페(1년),자동차등록대수,점포형태
3km내 자사,1.000000,0.276461,0.038651,0.017865,0.109413,0.232668,-0.025581,0.506556
3km내 경쟁,0.276461,1.000000,-0.111153,0.189652,0.226970,-0.153135,0.189262,0.355241
지방세부담액,0.038651,-0.111153,1.000000,0.131825,0.128061,0.052470,0.153652,-0.252447
1인가구구성원수,0.017865,0.189652,0.131825,1.000000,0.955788,0.020406,0.869805,-0.003794
다인가구구성원수,0.109413,0.226970,0.128061,0.955788,1.000000,0.053470,0.889403,0.018467
카페(1년),0.232668,-0.153135,0.052470,0.020406,0.053470,1.000000,-0.083029,-0.337577
자동차등록대수,-0.025581,0.189262,0.153652,0.869805,0.889403,-0.083029,1.000000,-0.036045
점포형태,0.506556,0.355241,-0.252447,-0.003794,0.018467,-0.337577,-0.036045,1.000000

In [91]:
emart.to_excel("final_model.xlsx",index=False)