In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [14]:
emart = pd.read_excel("./finished_binning.xlsx",)
emart

,지점명,3km이마트,3km경쟁마트,1인당지방세부담액(천원),1인가구구성원수,다인가구구성원수,인스타,블로그(1년),카페(1년),등록자동차대수,점포형태
0,청계천점,2,2,1,1,3,1,1,1,3,0
1,용산점,2,2,1,1,3,2,1,2,3,0
2,창동점,1,3,3,1,2,3,1,1,3,0
3,미아점,2,3,3,2,2,2,1,1,2,0
4,하월곡점,3,3,3,2,2,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
142,시지점,2,3,2,1,2,3,3,3,2,1
143,부평점,2,3,3,2,2,3,2,3,2,1
144,덕이점,3,3,2,3,1,1,2,3,1,1
145,서부산점,2,1,3,1,3,3,3,3,3,1
146,상무점,2,2,3,1,3,2,3,3,2,1

In [15]:
emart.corr()

,3km이마트,3km경쟁마트,1인당지방세부담액(천원),1인가구구성원수,다인가구구성원수,인스타,블로그(1년),카페(1년),등록자동차대수,점포형태
3km이마트,1.000000,0.346675,0.032681,0.231696,-0.177212,-0.052082,-0.105034,0.043260,-0.087846,0.308330
3km경쟁마트,0.346675,1.000000,0.163308,0.190774,-0.224192,0.000076,-0.105516,-0.062738,-0.220757,0.143354
1인당지방세부담액(천원),0.032681,0.163308,1.000000,-0.125014,0.099577,0.038846,0.116527,0.141723,0.160493,0.125032
1인가구구성원수,0.231696,0.190774,-0.125014,1.000000,-0.879554,-0.144888,-0.190609,-0.114178,-0.785540,0.043381
다인가구구성원수,-0.177212,-0.224192,0.099577,-0.879554,1.000000,0.157624,0.228636,0.205026,0.825157,-0.033035
인스타,-0.052082,0.000076,0.038846,-0.144888,0.157624,1.000000,0.400991,0.385816,0.183949,0.221617
블로그(1년),-0.105034,-0.105516,0.116527,-0.190609,0.228636,0.400991,1.000000,0.624795,0.179456,0.253643
카페(1년),0.043260,-0.062738,0.141723,-0.114178,0.205026,0.385816,0.624795,1.000000,0.177595,0.320897
등록자동차대수,-0.087846,-0.220757,0.160493,-0.785540,0.825157,0.183949,0.179456,0.177595,1.000000,0.037597
점포형태,0.308330,0.143354,0.125032,0.043381,-0.033035,0.221617,0.253643,0.320897,0.037597,1.000000

In [16]:
0.3+0.14+0.12+0.04+0.03+0.22+0.25+0.32+0.03

1.4500000000000002

In [17]:
for i in range(len(emart)):
    emart.iloc[i,1] = emart.iloc[i,1]*0.308330
    emart.iloc[i,2] = emart.iloc[i,2]*0.143354
    emart.iloc[i,3] = emart.iloc[i,3]*0.125032
    emart.iloc[i,4] = emart.iloc[i,4]*0.043381
    emart.iloc[i,5] = emart.iloc[i,5]*0.033035
    emart.iloc[i,6] = emart.iloc[i,6]*0.221617
    emart.iloc[i,7] = emart.iloc[i,7]*0.253643
    emart.iloc[i,8] = emart.iloc[i,8]*0.320897
    emart.iloc[i,9] = emart.iloc[i,9]*0.037597

In [18]:
emart["score"] = np.sum(emart.iloc[:,1:10],axis=1)

In [19]:
emart

,지점명,3km이마트,3km경쟁마트,1인당지방세부담액(천원),1인가구구성원수,다인가구구성원수,인스타,블로그(1년),카페(1년),등록자동차대수,점포형태,score
0,청계천점,0.61666,0.286708,0.125032,0.043381,0.099105,0.221617,0.253643,0.320897,0.112791,0,2.079834
1,용산점,0.61666,0.286708,0.125032,0.043381,0.099105,0.443234,0.253643,0.641794,0.112791,0,2.622348
2,창동점,0.30833,0.430062,0.375096,0.043381,0.066070,0.664851,0.253643,0.320897,0.112791,0,2.575121
3,미아점,0.61666,0.430062,0.375096,0.086762,0.066070,0.443234,0.253643,0.320897,0.075194,0,2.667618
4,하월곡점,0.92499,0.430062,0.375096,0.086762,0.066070,0.221617,0.507286,0.320897,0.075194,0,3.007974
...,...,...,...,...,...,...,...,...,...,...,...,...
142,시지점,0.61666,0.430062,0.250064,0.043381,0.066070,0.664851,0.760929,0.962691,0.075194,1,3.869902
143,부평점,0.61666,0.430062,0.375096,0.086762,0.066070,0.664851,0.507286,0.962691,0.075194,1,3.784672
144,덕이점,0.92499,0.430062,0.250064,0.130143,0.033035,0.221617,0.507286,0.962691,0.037597,1,3.497485
145,서부산점,0.61666,0.143354,0.375096,0.043381,0.099105,0.664851,0.760929,0.962691,0.112791,1,3.778858
146,상무점,0.61666,0.286708,0.375096,0.043381,0.099105,0.443234,0.760929,0.962691,0.075194,1,3.662998

In [20]:
emart.to_excel("prototype_model2.xlsx",index=False)